/**@font-face {
  font-family : OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
  }*/
body {
    margin: 0 auto;
    width: 1366px;
    height: 950px;
    background-color: #f9f9f9;
}
.wrapper {
    position: relative;
    height: 950px;
    margin-right: 152px;
    margin-left: 154px;
    padding-right: 48px;
    padding-left: 45px;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px;
    font-family: 'Open Sans', sans-serif;
}
/* меню одинаковое для heder и footer */
.menu {
    width: 600px;
    float: left;
    line-height: 40px;
}
a {
    text-decoration: none;
}
ul {
    margin-left: 2px;
    width: 600px;
}
li {
    display: inline-block;
    width: 135px;
   }
.header {
    position: relative;
    height: 170px;
    margin-bottom: 40px;
}
.header img {
    margin-top: 50px;
}
.menu_header {
    position: absolute;
    bottom: 0;
    width: 966px;
    height: 40px;
    background: linear-gradient(#5e5e5e, #454444);
    font: 11pt;
}
.menu_header a {
    display: inline-block;
    width: 100px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
}
.menu_header a:hover {
    width: 98px;
    border-right: 1px solid #838383;
    border-left: 1px solid #838383;
    background: linear-gradient(#4a4a4a, #2f2f2f);
}
.current_header a {
    width: 98px;
    border-right: 1px solid #838383;
    border-left: 1px solid #838383;
    background: linear-gradient(#4a4a4a, #2f2f2f);
}
.container {
    margin: auto;
    color: #2c2c2c;
    font: 10pt;
}
.left_menu {
    width: 238px;
    height: 239px;
    float: left;
    border-top: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    font: 10pt OpenSans;
}
.left_batton {
    height: 39px;
    border-bottom: 1px solid #c8c8c8;
    line-height: 39px;
}
.left_batton a {
    padding-left: 23px;
    color: #2c2c2c;
}
.left_batton:hover {
    padding-left: 11px;
    background: #f9f9f9;
}
.current_left_menu {
    padding-left: 11px;
    background: #f9f9f9;
}
.content {
    width: 680px;
    height: 580px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font: 10pt;
}
.drawing {
    display: flex;
    height: 398px;
    margin-bottom: 40px;
    border: 1px solid #c8c8c8;
    vertical-align: middle;
    justify-content: center;
}
.drawing img {
    align-self: center;
}
.tlorem p {
    padding-right: 25px;
    padding-left: 10px;
    font: 10pt/16pt Open Sans;
    }
.footer {
    position: absolute;
    bottom: 60px;
    width: 966px;
    height: 40px;
    color: #2c2c2c;
    background: #e1e1e1;
    font: 10pt OpenSans;
}
.footer a {
    display: inline-block;
    width: 100px;
    line-height: 40px;
    text-align: center;
    color: #2c2c2c;
}
.footer a:hover {
    text-decoration: underline;
}
.current_footer a {
    text-decoration: underline;
}
.copyr {
    width: 200px;
    float: right;
    text-align: center;
    line-height: 40px;
}
