@import "susy";

#footer__menu {
  height           : 327px;
  background-color : rgb(42, 45, 50);

  ul {
    display         : flex;
    width           : susy-span(7 of 12);
    margin          : 0 376px;
    justify-content : space-between;
  }

  .menu__item {
    width      : 200px;
    margin-top : 17px;
    color      : #ffffff;
    text-align : left;
    font       : 16px "Ubuntu Medium";
  }

  p {
    margin-top    : 47px;
    margin-bottom : 40px;
  }

  .submenu {
    display        : flex;
    margin         : 0 auto;
    flex-direction : column;
  }

  .submenu__item {
    // margin-top:17px;
    height      : 20px;
    margin-left : -40px;
  }

  a {
    color           : rgba(255, 255, 255, 0.302);
    text-decoration : none;
    font            : 13px Arial;
  }
}

hr {
  width         : 250px;
  margin-bottom : 5px;
  margin-left   : -40px;
  opacity       : 0.071;
}

.submenu__item a:hover {
  color : #248cec!important;
}

.footer__info {
  display          : flex;
  color            : #737577;
  background-color : #35383c;
  align-items      : center;
  font             : 12px Arial;
  flex-flow        : row nowrap;

  p {
    width      : susy-span(5 of 12);
    text-align : center;
  }

  ul {
    display         : flex;
    width           : susy-span(7 of 12);
    height          : 55px;
    margin-left     : -10px;
    align-items     : center;
    flex-flow       : row nowrap;
    justify-content : flex-end;
  }

  li {
    display         : flex;
    padding-right   : 77px;
    align-items     : center;
    justify-content : flex-end;
  }

  span {
    margin-right : 0;
  }
}
